process {
    withName: 'MULTIPLICATE:Duplicate' {
        debug      = true
        executor   = 'local'
        cpus       = 1
        memory     = 4.GB
        publishDir = [
            mode     : params.publish_mode,
            path     : "${params.output_dir}/duplicated",
            overwrite: true
        ]
        errorStrategy = 'terminate'
    }
    withName: 'MULTIPLICATE:Triplicate' {
        debug      = true
        executor   = 'local'
        cpus       = 1
        memory     = 4.GB
        publishDir = [
            mode     : params.publish_mode,
            path     : "${params.output_dir}/triplicated",
            overwrite: true
        ]
        errorStrategy = 'terminate'
    }
}