process {
    withName: 'MULTIPLICATE:Duplicate' {
        debug      = true
        executor   = 'local'
        cpus       = 1
        memory     = 4.GB
        publishDir = [
            mode     : params.publish_mode,
            path     : params.output_dir,
            saveAs   : { filename -> "duplicated/$filename" },
            overwrite: true
        ]
        errorStrategy = 'terminate'
    }
    withName: 'MULTIPLICATE:Triplicate' {
        debug      = true
        executor   = 'local'
        cpus       = 1
        memory     = 4.GB
        publishDir = [
            mode     : params.publish_mode,
            path     : params.output_dir,
            saveAs   : { filename -> "triplicated/$filename" },
            overwrite: true
        ]
        errorStrategy = 'terminate'
    }
}